<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="connectionSettings" type="System.Configuration.AppSettingsSection" />
    <section name="communicationSettings" type="System.Configuration.AppSettingsSection" />
    <section name="packageSettings" type="System.Configuration.AppSettingsSection" />
    <section name="sessionSettings" type="System.Configuration.AppSettingsSection" />
    <section name="analyticsSettings" type ="System.Configuration.AppSettingsSection"/>
    <section name="webProxySettings" type="System.Configuration.AppSettingsSection" />
    <section name="robotCacheSettings" type="System.Configuration.AppSettingsSection" />
    <section name="robotJsSettings" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <connectionSettings>
    <add key="defaultServiceUrl" value="https://cloud.uipath.com" />
  </connectionSettings>
  <communicationSettings>
    <add key="maxMessageSizeInMegabytes" value="10" />
    <add key="installPackageTimeout" value="00:20:00" />
    <add key="requestTimeout" value="00:00:40" />
  </communicationSettings>
  <packageSettings/>
  <sessionSettings/>
  <analyticsSettings/>
  <webProxySettings/>
  <robotCacheSettings/>
  <robotJsSettings/>
</configuration>
