<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <IsEnabled>true</IsEnabled>
  <ApplicationName>UiPath</ApplicationName>
  <TelemetryContainers>
    <TelemetryContainer name="RobotTelemetryContainer" defaultOperationOutlet="RobotAppInsightsOutlet" defaultEventOutlet="RobotAppInsightsOutlet">
    </TelemetryContainer>
    <TelemetryContainer name="StudioTelemetryContainer" defaultOperationOutlet="StudioAppInsightsOutlet" defaultEventOutlet="StudioAppInsightsOutlet">
    </TelemetryContainer>
  </TelemetryContainers>

  <Outlets>
    <AppInsightsOutlet
      name="RobotAppInsightsOutlet"
      instrumentationKey="c46e388f-6e7d-4fa2-bea7-aa8a969e43dd"
      outletType="TelemetryClient.Exporter.ApplicationInsights.ApplicationInsightsExporter, TelemetryClient.Exporter.ApplicationInsights" />
    <AppInsightsOutlet
      name="StudioAppInsightsOutlet"
      instrumentationKey="d094aed7-b80b-4374-81d1-fc92d73ac683"
      outletType="TelemetryClient.Exporter.ApplicationInsights.ApplicationInsightsExporter, TelemetryClient.Exporter.ApplicationInsights" />
  </Outlets>
</configuration>