<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <IsEnabled>true</IsEnabled>
  <ApplicationName>UiPath</ApplicationName>
  <TelemetryContainers>
    <TelemetryContainer name="RobotTelemetryContainer" defaultOperationOutlet="RobotAppInsightsOutlet" defaultEventOutlet="RobotAppInsightsOutlet">
    </TelemetryContainer>
    <TelemetryContainer name="StudioTelemetryContainer" defaultOperationOutlet="StudioAppInsightsOutlet" defaultEventOutlet="StudioAppInsightsOutlet">
    </TelemetryContainer>
  </TelemetryContainers>

  <Outlets>
    <AppInsightsOutlet
      name="RobotAppInsightsOutlet"
      instrumentationKey="0240efa7-a37f-4675-a978-f67ef7494664"
      outletType="TelemetryClient.Exporter.ApplicationInsights.ApplicationInsightsExporter, TelemetryClient.Exporter.ApplicationInsights" />
    <AppInsightsOutlet
      name="StudioAppInsightsOutlet"
      instrumentationKey="444da60f-98b2-4b45-a758-e032a420cdae"
      outletType="TelemetryClient.Exporter.ApplicationInsights.ApplicationInsightsExporter, TelemetryClient.Exporter.ApplicationInsights" />
  </Outlets>
</configuration>